/*
	Global
*/
body, main {
	margin: 0;
	padding: 0;
}

/*
	Measure Part
*/
.measure-part-item {
	display: inline-block;
	width: 100%;
	max-height: 30vh;
	
	margin: 0;
	background-color: gray;
}
.measure-part {
	display: block;
	
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
@media( min-width: 600px ) {
	.measure-part-item {
		width: 50%;
	}
}